* {
    font-family: 'DynaPuff', sans-serif;
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    color: #f3f4f5;
}

body {
    background-color: #202731;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1vh 5vh;
}

nav .nav-title {
    margin-right: auto;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
}

nav .nav-title p {
    transition: all;
    transition-duration: .25s;
}

nav .nav-title p:hover {
    border-radius: 5vh;
    transition: all;
    transition-duration: .25s;
    transform: scale(1.5);
}

nav .nav-links {
    font-size: 16px;
    font-weight: 500;
}

nav .nav-links a {
    padding: 0vh 1vh;
    text-decoration: none;
    transition: all;
    transition-duration: .25s;
}

nav .nav-links a:hover {
    transition: all;
    transition-duration: .25s;
    color: #2dcfff;
}

nav .nav-login-button {
    margin-left: 1vh;
    font-size: 16px;
    font-weight: 500;
}

nav .nav-login-button button {
    padding: 1vh 1.5vh;
    border: none;
    border-radius: 5vh;
    cursor: pointer;
    background-color: rgba(45, 207, 255, 1);
    transition: all;
    transition-duration: .25s;
}

nav .nav-login-button button:hover {
    background-color: rgba(45, 207, 255, .8);
    transition: all;
    transition-duration: .25s;
    transform: scale(1.10);
}

header {
    margin-bottom: -15vh;
    background-color: #f3f4f5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .header-title {
    margin: 1vh;
    text-align: center;
    border-radius: 2.5vh;
    background-color:#202731;
    transition: all;
    transition-duration: .25s;
    cursor: pointer;
}

header .header-title:hover {
    transition: all;
    transition-duration: .25s;
    background-color: #f3f4f5;

}

header .header-title:hover .title {
    transition: all;
    transition-duration: .25s;
    transform: scale(1.5);
    color: #202731;
}

header .header-title .title {
    transition: all;
    transition-duration: .25s;
    cursor: pointer;
    margin: 1vh 2vh;
}

header .header-title .title:hover {
    transition: all;
    transition-duration: .25s;
    transform: scale(2);
}

/* header .header-logo {

} */

header .header-logo .logo {
    max-width: 15vh;
}

.spacer {
    aspect-ratio: 900/450;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1 {
    background-image: url('/milk-splash.svg');
}

main {

}